#emailtextfield
{
    outline: none;
  
}
#addiconWithText
{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
   
}

#addIconId
{
    padding-right: 15px;
}
.addcolabarateList
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
#listItem
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
  
}
.button-icon-textfielddiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#textfieldEmail
{
outline: none;
border: none;
}
.MuiDialog-paperWidthSm {
    max-width: 512px !important;
    
}
.save-cancel-div
{
    display: flex;
    flex-direction: row;
    padding-left: 60%;
    justify-content: end;
}
#dialogForUpdate
{
    height: 100%;
}