#titlefield
{
    border: none;
    outline: none;
    width: 111%;
}
#textdescription
{
    border: none;
    outline: none;
    width: 111%;
}
#cardIdAllNotes
{
    margin: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 40%;
    width: 90%;
}
.MuiCardContent-root:last-child {
    padding-bottom: 6px !important;
  
}
 #printAllNotesDiv
{
    width: 100%;
    padding-top: 7%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

#printAllNotesDivOpenMenu
{
    width: 90%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

.card{
    width: 26%;
}

.MuiDialog-paperWidthSm {
    width: 100% ;
  
}
.MuiDialog-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 80%;
    width: 100%;
    outline: 0;
}
.bottom-list-item
 {
   display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.MuiDialogActions-root {
    flex: 0 0 auto;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: start !important;
}
.MuiAvatar-root {
    width: 24px !important;
    height: 20px !important;
}
#allIconDivList
{
    display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}