.CardNoteDiv
{
  position: absolute;
  width:50%;
  height: 50%;
  top:18%;
  left:20%;
  background-color: rgb(255, 255, 255);
}

 .NotesCard-div
{
position: relative;
width: 70%;
height: 70%;

background-color:rgb(255, 255, 255);
}

.titleAndDescription
{ 
    width: 100%;
    margin-top: 2%;
    margin-left: 1%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
#titleId
{
    border: none;
    outline: none;
    top: 0%;
    width: 87%;
}
#DescriptionId
{
    border: none;
    outline: none;
    width: 87%;
}
.closeButton
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#pin
{
    display: flex;
    justify-self: flex-end;
    width: 22px;
    position: absolute;
    right: 0;
}
#UpdateCard
{
  border: 1px solid gray;
  box-shadow: 1px gray;
}
